TELEGRAM_TOKEN='xxxxxxxxx:xxxxxxxxxxxxxxxxxxxxxxxxx'
GIGACHAT_CLIENT_ID='xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxx'
GIGACHAT_AUTH_KEY='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
GIGACHAT_SCOPE='GIGACHAT_API_PERS'